.navbar {
    background: linear-gradient(to bottom, #f5c96c, #f7d28b, #f9e4a5, #fdf6e3, #ffffff);
    padding: 1rem 4rem;
    position: relative;
    top: 0;
    z-index: 1000;
    width: 100%;
    overflow: visible;
    z-index: 1002;
}

.logo .logo {
    float: left;
    font-size: 1.5rem;
    margin-top: -0.5cm;
    margin-left: -3cm;
}

header nav {
    float: right;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

header nav ul li {
    margin-left: 1rem;
    position: relative;
    
}

header nav ul li a {
    
    color: blue; /* Set the navigation link color to blue */
    text-decoration: none;
}

header nav ul li a:hover,
header nav ul li a:focus {
    color: #cc6f30;
}

/* Navbar Dropdown Menu */
.nav-dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #e13434;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    width: 200px;
    z-index: 1000;
}

.dropdown-menu li {
    margin: 5px 0;
    color: #000;
}

.dropdown-menu a:hover {
    background-color: #474847;
}

.nav-dropdown:hover .dropdown-menu {
    display: block;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1rem;
    }

    header .logo {
        margin: 0;
        margin-bottom: 1rem;
        float: none;
    }

    header nav {
        float: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin-left: 0;
        margin-bottom: 1rem;
    }
}
