/* Featured Services */
.featured-services {
    background: linear-gradient(to bottom, #f5c96c, #f7d28b, #f9e4a5, #fdf6e3, #ffffff);
    padding: 2rem 0;
    text-align: center;
    overflow: visible;
}

.featured-services h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    position: relative;
}

.featured-services h2::after {
    content: '';
    width: 50px;
    height: 3px;
    background: #f4b400;
    display: block;
    margin: 1rem auto;
}

.services {
    display: flex;
    justify-content: space-around;
    box-shadow: #0f0707;
}

.service {
    width: 30%;
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.service img {
    width: 100%;
    border-radius: 3px;
}

.service:hover {
    transform: translateY(-50px);
}
